<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org/DTO Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.example.linkup.dto.ClientUserDetail" alias="adminuserdetail"/>
        <typeAlias type="com.example.linkup.dto.User" alias="user"/>
        <typeAlias type="com.example.linkup.dto.Project" alias="project"/>
        <typeAlias type="com.example.linkup.dto.Apply" alias="apply"/>
        <typeAlias type="com.example.linkup.dto.Category" alias="category"/>
        <typeAlias type="com.example.linkup.dto.Career" alias="career"/>
        <typeAlias type="com.example.linkup.dto.Client" alias="client"/>
        <typeAlias type="com.example.linkup.dto.ClientProfile" alias="clientProfile" />
        <typeAlias type="com.example.linkup.dto.ProjectMgt" alias="projectMgt" />
        <typeAlias type="com.example.linkup.dto.ProjectPay" alias="projectPay" />
        <typeAlias type="com.example.linkup.dto.ClientCandidateMgt" alias="clientCandidateMgt" />
        <typeAlias type="com.example.linkup.dto.ClientApply" alias="clientapply" />
        <typeAlias type="com.example.linkup.dto.FreelancerProject" alias="freelancerproject" />
        <typeAlias type="com.example.linkup.dto.SettlementListForF" alias="slistforf" />
        <typeAlias type="com.example.linkup.dto.ProjectDetail" alias="projectdetail" />
        <typeAlias type="com.example.linkup.dto.AdminSettleTarget" alias="AdminSettleTarget" />
        <typeAlias type="com.example.linkup.dto.AdminSettleHistory" alias="AdminSettleHistory" />
        <typeAlias type="com.example.linkup.dto.ClientSettleTarget" alias="ClientSettleTarget" />
        <typeAlias type="com.example.linkup.dto.SettlementDetailDTO" alias="SettlementDetailDTO" />
        <typeAlias type="com.example.linkup.dto.ClientProjectSummary" alias="ClientProjectSummary" />
        <typeAlias type="com.example.linkup.dto.SettledInfoDTO" alias="SettledInfoDTO" />
        <typeAlias type="com.example.linkup.dto.AdminPrepareSettle" alias="AdminPrepareSettle" />
        <typeAlias type="com.example.linkup.dto.AdminSettleHistorySummary" alias="AdminSettleHistorySummary" />
        <typeAlias type="com.example.linkup.dto.AdminFreelancer" alias="AdminFreelancer" />
        <typeAlias type="com.example.linkup.dto.ProjectPay" alias="ProjectPay" />

        <typeAlias type="com.example.linkup.dto.Contract" alias="contract"/>
        <typeAlias type="com.example.linkup.dto.Freelancer" alias="freelancer"/>
        <typeAlias type="com.example.linkup.dto.ClientFavorites" alias="jjimfree"/>
        <typeAlias type="com.example.linkup.dto.JjimProj" alias="jjimProj"/>
        <typeAlias type="com.example.linkup.dto.Level" alias="lv"/>
        <typeAlias type="com.example.linkup.dto.Pay" alias="pay"/>
        <typeAlias type="com.example.linkup.dto.Portfolio" alias="portfolio"/>
        <typeAlias type="com.example.linkup.dto.QnA" alias="qna"/>
        <!--<typeAlias type="dto.Review" alias="review"/>-->
        <typeAlias type="com.example.linkup.dto.Settlelist" alias="settlelist"/>
        <typeAlias type="com.example.linkup.dto.Settlement" alias="settlement"/>
        <typeAlias type="com.example.linkup.dto.SubCategory" alias="subCategory"/>
        <typeAlias type="com.example.linkup.dto.DashboardProject" alias="dproject"/>
        <typeAlias type="com.example.linkup.dto.ClientUserInfo" alias="adminclient"/>
        <typeAlias type="com.example.linkup.dto.Project" alias="project"/>
        <typeAlias type="com.example.linkup.dto.Notice" alias="notice"/>
        <typeAlias type="com.example.linkup.dto.News" alias="news"/>
    </typeAliases>

    <environments default="deveLopment">
        <environment id="deveLopment">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://svc.sel4.cloudtype.app:32176/linkup2?serverTimezone=Asia/Seoul"/>
                <property name="username" value="root"/>
                <property name="password" value="wy12wy10"/>
                <property name="poolMaximumActiveConnections" value="500"/>
                <property name="poolMaximumIdleConnections" value="500"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/categoryMenuMapper.xml"/>
        <mapper resource="mapper/user.xml"/>
        <mapper resource="mapper/client.xml"/>
        <mapper resource="mapper/project.xml"/>
        <mapper resource="mapper/category.xml"/>
        <mapper resource="mapper/pay.xml"/>
       <mapper resource="mapper/apply.xml"/>
        <mapper resource="mapper/adminclient.xml"/>
        <mapper resource="mapper/adminproject.xml"/>
        <mapper resource="mapper/contract.xml"/>
        <mapper resource="mapper/freelancer.xml"/>
        <mapper resource="mapper/jjimfree.xml"/>
        <mapper resource="mapper/jjimProj.xml"/>
        <mapper resource="mapper/lv.xml"/>
        <mapper resource="mapper/portfolio.xml"/>
        <mapper resource="mapper/dashboardproject.xml"/>
        <mapper resource="mapper/qna.xml"/>
        <mapper resource="mapper/candidatemgt.xml"/>
        <mapper resource="mapper/settlelist.xml"/>
        <mapper resource="mapper/settlement.xml"/>
        <mapper resource="mapper/subCategory.xml"/>
        <mapper resource="mapper/notice.xml"/>
        <mapper resource="mapper/news.xml"/>
        <mapper resource="mapper/afreelancer.xml"/>
        <mapper resource="mapper/projectmgt.xml"/>
        <mapper resource="mapper/career.xml"/>
    </mappers>
</configuration>